.topHeader {
  height: 340px;
  background-color: lightgray;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.middleImage {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 60px;
}

.headerText {
  padding-top: 20px;
  color: black;
}
