.topHeader {
  height: 400px;
  background-color: black;
  background-size: cover;
  overflow: hidden;
  text-align: center;
}

.middleImage {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: 80px;
}

.headerText {
  padding-top: 20px;
  color: white;
}
